# Environments
.env*
.venv
venv/
virtualenv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/
local_settings.py
.DS_Store

# Static files
/node_modules

# Build artifacts
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/
.coverage
.coverage.*
/htmlcov/

# User-uploaded files
/media/
