# docker-compose.yml (برای توسعه محلی)
# برای اجرا از دستور `docker compose up --build` استفاده کنید.
# برای محیط پروداکشن از دستور `docker compose -f docker-compose.yml -f docker-compose.prod.yml up` استفاده کنید.

services:
  web:
    build:
      context: .
      args:
        - DEV=true
    image: ecommerce-api-dev:latest
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app  # اتصال فولدر پروژه برای hot-reloading
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - database
      - cache

  database:
    image: postgres:17-alpine
    container_name: database
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  cache:
    image: redis:8.0-alpine
    container_name: cache
    ports:
      - "6379:6379"

  celery_worker:
    build:
      context: .
      args:
        - DEV=true
    image: ecommerce-api-dev:latest
    container_name: celery_worker
    command: celery -A ecommerce_api worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - cache
      - database

  celery_beat:
    build:
      context: .
      args:
        - DEV=true
    image: ecommerce-api-dev:latest
    container_name: celery_beat
    command: celery -A ecommerce_api beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - cache
      - database

  flower:
    build:
      context: .
      args:
        - DEV=true
    image: ecommerce-api-dev:latest
    container_name: flower
    command: celery -A ecommerce_api flower --address=0.0.0.0 --port=5555
    ports:
      - "5555:5555"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - cache
      - celery_worker

volumes:
  database:
  static_volume:
  media_volume:
