version: '3.8'

services:
  web:
    build: .
    image: ecommerce-api:latest
    container_name: backend
    entrypoint: /app/entrypoint.sh
    command: >
      sh -c "
      gunicorn ecommerce_api.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - database
      - cache
    networks:
      - default

  database:
    image: postgres:17-alpine
    container_name: database
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default

  cache:
    image: redis:8.0-alpine
    container_name: cache
    ports:
      - "6379:6379"
    networks:
      - default

  celery_worker:
    image: ecommerce-api:latest
    container_name: celery_worker
    command: celery -A ecommerce_api worker -l info
    env_file:
      - .env
    depends_on:
      - cache
      - database
    networks:
      - default

  celery_beat:
    image: ecommerce-api:latest
    container_name: celery_beat
    command: celery -A ecommerce_api beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env
    depends_on:
      - cache
      - database
    networks:
      - default

  flower:
    image: ecommerce-api:latest
    container_name: flower
    command: celery -A ecommerce_api flower --address=0.0.0.0 --port=5555
    ports:
      - "5555:5555"
    env_file:
      - .env
    depends_on:
      - cache
      - celery_worker
    networks:
      - default

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web
    networks:
      - default

volumes:
  database:
  static_volume:
  media_volume:

networks:
  default:
    driver: bridge
